# 1. Environnements Virtuels (Très lourd : PyTorch, CUDA, etc.)
env_marion/
venv/
.env/

# 2. Données brutes et Datasets (Fichiers .arrow)
data/dataset_flickr30k/
data/flickr30k/raw_data/
data/images_temp_train/

# 3. Fichiers de Matrices, Index Faiss et Caches (Très lourds)
data/flickr30k/index_sauvegardes/
data/index_sauvegardes/
*.npy
*.bin
*.pkl

# 4. Poids des modèles (LoRA / Checkpoints)
*.safetensors
*.pt
*.pth
checkpoint-*/

# 5. Fichiers générés lourds
*.jsonl
rerank_cache_*.json

# 6. Jupyter et Python système
.ipynb_checkpoints/
__pycache__/
*.pyc
.DS_Store